
<!-- ***** Our Team Area Start ***** -->
<section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Our Team</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/team-1.jpg" alt="">
                    </div>
                    <div class="member-text">
                        <h4>Jackson Nash</h4>
                        <p>Tax Advice</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/team-2.jpg" alt="">
                    </div>
                    <div class="member-text">
                        <h4>Alex Manning</h4>
                        <p>CEO-Founder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Team Area End ***** -->