 
 <section class="ftco-section bg-light">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5 ftco-animate">
            <div class="col-md-7 text-center heading-section">
              <h2>¿Veamos una peli juntos?</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ftco-animate" data-scrollax-parent="true" >
              <div class="trainer" data-scrollax=" properties: { translateY: '-20%'}">
                <a href="#" class="trainer-img mb-4" style="background-image: url(images/trainer_1.jpg);"></a>
                <div class="text text-center">
                  <h3 class="mb-3">Agustín Truccone<br><span class="position">Diseñador gráfico</span></h3>
                  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 ftco-animate" data-scrollax-parent="true">
              <div class="trainer" data-scrollax=" properties: { translateY: '-100%'}">
                <a href="#" class="trainer-img mb-4" style="background-image: url(images/trainer_2.jpg);"></a>
                <div class="text text-center">
                  <h3 class="mb-3">Cristian Balestro <br><span class="position">Socio</span></h3>
                  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
              </div>
            </div>
                       
          </div>
        </div>
      </section>
