@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Lovers Quarrel', cursive;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #f34949;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
